

/*****************************************************/
/*    Styles for screen 260px and lower             */
/*****************************************************/
@media only screen and (max-width : 260px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	#icn_prof ul{
		left:4px;
	}
	
	#name{
		display:none;
	}
	
	#icn_conf{
		width:40%;
	}
	
	#icn_prof{
		width:60%;
	}
	
	#photo{
		float:left;
		margin-left:40%;
	}
	
	#tools{
		margin-left:40%;
	}
#main_opc{
width:70%
}
	
#filterform input[type="search"]:focus {
    width:80%;
    margin-left:2%;
}

.filter1{
    margin-left:10%;
}

.filter2{
    margin-left:10%;
}

}
