
/*****************************************************/
/*    Styles for screen 700px and lower             */
/*****************************************************/
@media screen and (max-width: 700px) {
	nav { 
  		height: 30px;	
  	}
	
  	nav ul {
  		padding: 0;
	    margin: 0 auto;
		width: 100%;
  		display: block;	
  	}
	
  	nav li {
  		width: 33.3333%;
  		float: left;
  		position: relative;
  	}
	
  	nav li a {
		//border-bottom: 1px solid #576979;
		//border-right: 1px solid #576979;
		text-align:center;
		height:30px;
	}
	
  	nav a {
	  	display: inline-block;
		width: 100px;
		line-height: 25px;
	  	width: 100%;
  	}
	
	
	nav a:hover, nav a:active{
	background: #8c99a4;
	}
	
	#tooldiv{
		margin-top:30px;
		
    }
	
	#menu_name{
		
		width:40%;
    }
	
    #main_opc{
		width:40%;
		
    }
	
    #filterdiv{
    height:80px;
    }
	
    #filterform {       
    height: 55px;
     }


#filterform input[type="search"] {
     width:60%;  
     margin-left:15%;
}

#filterform input[type="search"]:focus {
    width:80%;
    margin-left:5%;
}


.filter1{
    margin-left:25%;
}

.filter2{
    margin-left:14%;
}
}
