
/* Basic Styles */
body {
 font-family:Arial;
 margin:0;
 padding:0;
}

@font-face{
 font-family:entypo;
 src: url('../../_common/fonts/entypo/entypo.eot'); 
 src: url('../../_common/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'), 
      url('../../_common/fonts/entypo/entypo.woff') format('woff'), 
      url('../../_common/fonts/entypo/entypo.ttf') format('truetype'), 
      url('../../_common/fonts/entypo/entypo.svg#CrimsonRoman') format('svg'); 
 font-weight:bold;	 
}

@font-face{
 font-family:sosa;
 src: url('../../_common/fonts/sosa/sosa-regular-webfont.eot'); 
 src: url('../../_common/fonts/sosa/sosa-regular-webfont.eot?#iefix') format('embedded-opentype'), 
      url('../../_common/fonts/sosa/sosa-regular-webfont.woff') format('woff'), 
      url('../../_common/fonts/sosa/sosa-regular-webfont.ttf') format('truetype'), 
      url('../../_common/fonts/sosa/sosa-regular-webfont.svg#CrimsonRoman') format('svg');
 font-weight:bold;
}

[hiden] {
 display: none;
}



/* Clearfix */
	
.cf:before, .cf:after{
 content:"";
 display:table;
}
    
.cf:after{
 clear:both;
}

.cf{
 *zoom:1;
}


#header_main{
 height: auto;	
 width: 100%;
 float: left;
}

#header_menu_wrap{
 height: auto;
 width: 100%;
 margin-bottom:0px;
 float: left;
}

/* Style container #header_wrap elements*/
#menudiv{ 
 //background:  #455868;
 background-color: #132531;
 float: left;
 height: auto;	
 padding-bottom:0px;
 width: 100%;
 position:absolute;
 z-index:2;
}

#menu_opc{
 height: auto;
 width:100%;
 float:left;
}

 nav {
 height: 25px;
 width: 100%;
 font-size: 10pt;
 font-weight: bold;
 position: relative;
 float:left;	
}
	
 nav ul {
 //background-color:blue;
 padding: 0;
 margin: 0px 8px;
 width: 660px;
 height: 25px;
 list-style: none;
 list-style-image: none;		
}
	
 nav ul li {
 display: inline;
 float: left;
}
	
 nav ul li a {
 font-family:Arial;
 color: #8c99a4;
 display: inline-block;
 width: 100px;
 text-align: center;
 text-decoration: none;
 line-height: 25px;
}
	
nav ul li a {
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
}
	
nav ul li:last-child a {
 border-right: 0;
}

nav a:hover, nav a:active{
 color:white;
}
	
 nav a#pull {
 display: none;
 text-align:left;
 background-color: #283744;
 height: 30px;
 text-decoration: none;
 color: #8c99a4;
}
	 
nav a#pull:hover{
 color:white;
}
	
.font{
 font-family:entypo;
 font-size:20pt;
 color: #8c99a4;
 font-weight: bold;
}



nav ul li:hover > ul {
 display:block;
 opacity: 1;
 visibility: visible; 
}

.submenu{
 top:0px;
 background-color:#132531;
 text-align: center;
 display:none;
 margin: 0;
 list-style: none;
 position:relative;
 left:10px;
 width: 40px;
 z-index:2;
 color:black;
}

nav li ul li{
 background-color: #132531;
 font-size: 10pt;
 font-weight: bold;
 display: block;
 position: relative;
 padding-top: 8px;
 cursor: pointer;
 width:100px;
 left:-10px;
}

/* Basic Styles */
html body{ 
margin:0;
height:100%;}

img {
 display: block;
 float:left;
 background-repeat:no-repeat;
}

#tooldiv{
 background-color: rgba(110,0,0,1);
 float: left;
 height:40px;
 width: 100%;
 margin-top:25px;
}

#filterdiv{
  background-color: rgb(229, 229, 229);
  display:none;
  float:left;
  width:100%;
  height:50px;
  border-bottom: 2px solid rgba(110,0,0,1);
}

#cont_logo{
 height: 40px;
 width:10%;
 float:left;
}

	
#logo{
 background-image:url("../../../_common/images/elastix_logo_total.png");
 height:40px;
 width:40px;
 float:left;
}

#name{
 font-size:15px;
 margin:8px 0px 0 0px;
 float:left;
 width:150px;
 text-align: right;
 font-weight: bold;
 height:0px;
 font-family:Arial;
}

#photo{
 height:36px;
 width:38px;
 float:right;
 margin-top:2px;
 margin-right:5px;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;		
}

#icn_prof{		
 height:40px;
 float:right;
 width:200px;
 color: #8c99a4;
 cursor:pointer; 
 cursor: hand;	
}

#icn_prof:hover {
 color: white;
}

#icn_prof:hover > ul {
 display:block; 
}

#icn_prof ul {
 top:38px;
 background-color: rgb(229, 229, 229);
 text-align: center;
 display:none;
 margin: 0;
 list-style: none;
 position:relative;
 left:70px;
 width: 76px;
 z-index:2;
 color:black;
 border: 2px solid rgba(110,0,0,1);
}

#icn_prof ul li{
 font-size: 10pt;
 font-weight: bold;
 display: block;
 position: relative;
 padding: 10px 8px;
 cursor: pointer;
 width:100px;
 left:-40px; 
}


#icn_prof  ul li:hover{
 color:white;
 background: #8c99a4;
}

#icn_prof ul li ul  {
 width:116px;
 padding: 0;
 position: absolute;
 top: -1px;
 display: none;
 opacity: 0;
 visibility: hidden;
 left:-120px;
 color:black;
    
}

#icn_prof  ul li ul li{ 
 background-color: rgb(229, 229, 229);
 display: block; 
 width: 100px;
 left:0px;
}

#icn_prof  ul  li  ul  li  ul{ 
 display:none;
 visibility: hidden;
 opacity: 0;
}

#icn_prof  ul li ul li:hover > ul{ 
 display: block;
 opacity: 1;
 visibility: visible;
}

#icn_prof ul li:hover > ul {
 display: block;
 opacity: 1;
 visibility: visible;
}

	
#tools{
 margin-top:8px;
 margin-left:6px;
	
}
	
.icn_m{
 display:inline-block;
 font-family:entypo;
 font-size:38pt;
 //color: rgb(229, 229, 229);
 font-weight: bold;
 cursor:pointer;
 color: #8c99a4;
}
	
.ml10{
 margin-left:10px;
}
	
.lp{
 position:relative;
 top:-18px;
}
	
.icn_d{
 position:relative;
 top:2px;
 left:1px;
 font-family:sosa;
 font-size:20pt;
 color: #8c99a4;
 font-weight: bold;
 margin-left:0px;
	
}
		
.icn_m:hover{
 color: white;
}
		
.folder:hover{
 color:white;
 background: #8c99a4;	
}
	
#main_opc{
 width: 40%;
 height: 40px;
 display: block;
 position: relative;
 float:left;
 margin:left:20%
}







/*****************************************************/
/*    Styles for screen 960px and lower             */
/*****************************************************/
@media screen and (max-width: 960px) {

.submenu{
 display:none;
}

}


/*****************************************************/
/*    Styles for screen 700px and lower             */
/*****************************************************/
@media screen and (max-width: 700px) {
nav { 
 height: 30px;	
}
	
nav ul {
 padding: 0;
 margin: 0 auto;
 width: 100%;
 display: block;	
}
	
nav li {
 width: 33.3333%;
 float: left;
 position: relative;
}
	
nav li a {
 text-align:center;
 height:30px;
	}
	
nav a {
 display: inline-block;
 width: 100px;
 line-height: 25px;
 width: 100%;
}

nav a:hover, nav a:active{
 background: #8c99a4;
}
    
.submenu{
 display:none;
}
}





/*****************************************************/
/*    Styles for screen 450px and lower             */
/*****************************************************/

@media only screen and (max-width : 450px) {

nav {
height: auto;
border-bottom: 0;
}

nav li {
display: block;
float: none;
width: 100%;
}
	
nav ul {
display: none;
height: auto;
}
	
nav a#pull {
display: block;
width: 100%;
position: relative;
text-indent:40px;
}

nav a#pull:after {
content:"";
background: url('../../apps/home/images/nav-icon.png') no-repeat;
width: 30px;
height: 30px;
display: inline-block;
position: absolute;
right: 15px;
top: 5px;		
}


.submenu{
 display:none;
}
}



/*****************************************************/
/*    Styles for screen 260px and lower             */
/*****************************************************/
@media only screen and (max-width : 260px) {

nav li {
display: block;
float: none;
width: 100%;
}
	
.submenu{
 display:none;
}


}

