<?xml version="1.0" encoding="UTF-8"?>
<module>
  <menulist>
    <menuitem menuid="extras"  desc="Extras"  parent=""         module="no"  link="" order="0"></menuitem>
    <menuitem menuid="webmin"  desc="Webmin"  parent="extras"   module="no"  link="webminWrapper.php?IP={NAME_SERVER}&amp;PORT=10000" order="4"></menuitem>
  </menulist>
</module>
