/* Estilos para login de sistema */
body.elx-blackmin-login
{
    font-family: verdana, arial, helvetica, sans-serif;
    background: #000000;
    color: #FFFFFF;
    font-size: 9pt;
    margin: 0;
}
body.elx-blackmin-login>div.logo
{
	position: relative;
	height: 150px;
}
body.elx-blackmin-login>form
{
	position: relative;
}
body.elx-blackmin-login>form>div
{
    border: 1px solid #ffffff;
	position: relative;
    margin-left: auto;
    margin-right: auto;
	width: 498px;
	height: 190px;
}
body.elx-blackmin-login>form>div>div
{
	text-align: center;
}
body.elx-blackmin-login>form>div>div>div
{
    position: relative;
    min-height: 32px;
}
body.elx-blackmin-login>form>div>div.title
{
    text-align: left;
	background: #555555;
	font-size: 11pt;
	font-weight: bold;
    padding: 4px;
}
body.elx-blackmin-login>form>div>div div.label
{
    position: absolute;
    left: 0;
    width: 188px;
    text-align: right;
    height: 32px;
}
body.elx-blackmin-login>form>div>div div.input
{
    position: absolute;
    right: 0;
    width: 310px;
    text-align: left;
    height: 32px;
}

/* Los siguientes estilos son básicos para la apariencia de la página */
body
{
    font-family: verdana, arial, helvetica, sans-serif;
    background: #FFFFFF;
    color: #000000;
    font-size: 81.25%;
    margin: 0;
}

input
{
    color: #333333;
    background: #fafafa;
    border-top: 1px #999999 solid;
    border-left: 1px #999999 solid;
    border-bottom: 1px #cccccc solid;
    border-right: 1px #cccccc solid;
    font-family: verdana, arial, helvetica, sans-serif;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 1em;
/*    min-height: 22px;*/
}
textarea
{
    color: #333333;
    background: #fafafa;
    border-top: 1px #999999 solid;
    border-left: 1px #999999 solid;
    border-bottom: 1px #cccccc solid;
    border-right: 1px #cccccc solid;
    font-family: verdana, arial, helvetica, sans-serif;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 1em;
}

select
{
	color: #333333;
    background: #fafafa;
    border-top: 1px #999999 solid;
    border-left: 1px #999999 solid;
    border-bottom: 1px #cccccc solid;
    border-right: 1px #cccccc solid;
    font-family: verdana, arial, helvetica, sans-serif;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 1em;
/*    min-height: 26px;*/

}

input.button, input.submit
{
	border: 1px solid #999999;
	background-color: #eeeeee;
    background-repeat: repeat-x;
    background-position: bottom;
    color: #444444;
}
input:focus, textarea:focus, select:focus
{
    background-color: #ffffff;
    border-color: #000000;
}
INPUT:disabled {
	background-color: #F2F2F2;
	color: #E6E6E6;
	border: #E6E6E6 1px solid;
}







#elx-blackmin-topnav-toolbar
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
    height: 36px;
    color: #ffffff;
    background: #000000;
    font-size: 1em;
    font-weight: bold;
}
#elx-blackmin-wrap
{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 35px;
	right: 0;
	top: 36px;
	overflow: auto;
}
ul.elx-blackmin-topnav
{
	list-style: outside none none;
	padding-left: 0;
	margin: 0;
}
ul.elx-blackmin-topnav > li
{
    position: relative;
    display: block;
    float: left;
}
ul.elx-blackmin-topnav > li.navButton
{
	float: right;
	background: #777777;
	padding: 8px;
	border-left: 1px #666666 solid;
	position: static;
}
ul.elx-blackmin-topnav > li.navButton:hover
{
	background: #888888;
}
#elx-blackmin-module-title
{
	padding: 7px;
}
#elx-blackmin-footerbox
{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25px;
    padding:10px 0px 0px 0px;
    color: #444;
    text-shadow: 1px 1px #ccc;
    text-align: center;
    background: url(images/bgfooter.png) repeat #ccc;
}
#elx-blackmin-footerbox > a
{
	color: #444;
	text-decoration: none;
}






#elx-blackmin-content-menu
{
    position: relative;
    padding: 0;
    color: #ffffff;
    background: #000000;
    font-size: 1em;
    font-weight: bold;
}
#elx-blackmin-content-menu>img
{
    border: 0;
    cursor: pointer;
}

/* Definición del menú de la página */
@-webkit-keyframes elx-blackmin-menu-fadein
{
	from { opacity: 0; }
	to   { opacity: 1; }
}
@keyframes elx-blackmin-menu-fadein
{
    from { opacity: 0; }
    to   { opacity: 1; }
}
li.elx-blackmin-menu
{
	font-family: verdana, arial, helvetica, sans-serif;
}
li.elx-blackmin-menu .raquo
{
	position: absolute;
	right: 0;
}
li.elx-blackmin-menu li
{
	margin:    0px;
	padding:   0px;
	position:  relative;
    line-height: normal;
    white-space: nowrap;
}
li.elx-blackmin-menu a
{
    color: #bbbbbb;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 5pt;
}
li.elx-blackmin-menu>div
{
	/* Los browsers modernos toman preferencia de background-color con rgba.
	   En cambio IE8 ignora rgba y toma el color opaco en background. Esto
	   permite un fallback en lugar de menús huecos en IE8. */
    background: #000;
	background-color: rgba(0, 0, 0, 0.83);
    color: #bbbbbb;
    position: absolute;
    display: none;
    z-index: 9; /* porque el fullcalendar event tiene un handle con zindex 8 */
}
li.elx-blackmin-menu>div>p
{
	margin:    0px;
	padding:   5pt;
}
li.elx-blackmin-menu:hover>div
{
	display: block;
    -webkit-animation: elx-blackmin-menu-fadein 0.3s;
    animation: elx-blackmin-menu-fadein 0.3s;
}
li.elx-blackmin-menu ul
{
    list-style-type: none;
    padding: 0;
    min-width: 100%;
}
li.elx-blackmin-menu>div>ul ul
{
	display: none;
}
li.elx-blackmin-menu>div>ul li.selected
{
/*    font-weight: bold;*/
}
li.elx-blackmin-menu>div>ul li:hover
{
    background: #444444;
}
li.elx-blackmin-menu>div>ul li:hover>a
{
    color: #ffffff;
}
li.elx-blackmin-menu>div>ul li:hover>ul
{
    /* Los browsers modernos toman preferencia de background-color con rgba.
       En cambio IE8 ignora rgba y toma el color opaco en background. Esto
       permite un fallback en lugar de menús huecos en IE8. */
    background: #000;
    background-color: rgba(0, 0, 0, 0.83);
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    -webkit-animation: elx-blackmin-menu-fadein 0.3s;
    animation: elx-blackmin-menu-fadein 0.3s;
}
li.navButton > div
{
	position: absolute;
	right: 0px;
	top: 36px;
	min-width: 220px;
}


/* Definición del contenido de la página */
#elx-blackmin-content
{
    position: relative;
/*
    padding: 0 0 0 0;
    min-height: 100%;
*/
    margin: 4px;
    padding: 3px 0px 10px 0px;
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: auto;
}
#elx-blackmin-content > div#message_error
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
form.elx-blackmin-form-table>div
{
	background: #bbbbbb;
}
form.elx-blackmin-form-table>table
{
	/*border: 1px solid #999999;*/
	margin: 0px;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
form.elx-blackmin-form-table>table>thead
{
/*
    background: #000000;
    color: #ffffff;
*/
    background: #555555;
    color: #eeeeee;
}
form.elx-blackmin-form-table>table>thead>tr.filterForm
{
    color: #000000;

    background-color: #fafafa;
    background-image: url(../../images/bggrisForm.gif);
    background-repeat: repeat-x;
    background-position: top;
}
form.elx-blackmin-form-table>table>thead>tr.elx-blackmin-table-title-row,
form.elx-blackmin-form-table>table>tfoot>tr.elx-blackmin-table-title-row
{
	height: 32px;
}
form.elx-blackmin-form-table>table>thead>tr.filterForm td
{
    padding: 4px;
}
form.elx-blackmin-form-table>table>thead>tr>th,
form.elx-blackmin-form-table>table>tfoot>tr>th
{
    border-bottom: 1px #aaaaaa solid;
    padding: 4px;
    text-align: left;
}
form.elx-blackmin-form-table>table>thead>tr>th a.link_summary_off
{
  text-decoration: none;
  color:#FFFFFF;
}

form.elx-blackmin-form-table>table>thead>tr>th a.link_summary_on
{
  text-decoration: none;
  color:#F5DEB3;
  font-weight:bold;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row,
form.elx-blackmin-form-table>table>tfoot>tr>td>div.elx-blackmin-table-control-row
{
    position: relative;
    height: 30px;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    background: #f0f0f0 url(../../../images/addons_header_row_bg.png) repeat-x top;
    color: #444444;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row
{
    border-bottom: 1px #b6b6b6 solid;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row div.elx-blackmin-table-toolcell,
form.elx-blackmin-form-table>table>tfoot>tr>td>div.elx-blackmin-table-control-row div.elx-blackmin-table-toolcell
{
    position: relative;
    display: inline-block;
    height: 30px;
    padding:10px 10px 0px 10px;
    text-align:center;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row div.elx-blackmin-table-toolaction
{
    float: left;
    border-right: 1px solid #aaa;
    height: 32px;
    padding:8px 10px 0px 10px;
    cursor: pointer;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row div.elx-blackmin-table-toolaction:hover,
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row div.export-background
{
    background: -moz-linear-gradient(center top , #777777, #999999);
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#777),to(#999));
    background: linear-gradient(center top , #777777, #999999);
    border-color: #888888 !important;
    color: #FFFFFF;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row a,
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row div.elx-blackmin-table-toolaction>input.neo-table-action
{
    border:0px;
    background-color:transparent;
    cursor:pointer;
    padding: 0px;
    vertical-align: middle;
    color:#444;
    text-decoration:none;
}
div.elx-blackmin-exportmenu>div
{
    /* Véase notas en li.elx-blackmin-menu>div */
    -moz-box-shadow: 0px 0px 1px #000000;
    -webkit-box-shadow: 0px 0px 1px #000000;
    -moz-border-radius: 0px 10px 10px 10px;
    -webkit-border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 0px 1px #000000;
    border-radius: 0px 10px 10px 10px;
    padding: 5px;
    background: none repeat scroll 0 0 #F7F7F7;
    color: #000000;

    position: absolute;
    display: none;
    z-index: 9; /* porque el fullcalendar event tiene un handle con zindex 8 */
    left: 0px;
    right: 0px;
    top: 40px;
    text-align: left;
}
div.elx-blackmin-exportmenu:hover>div
{
    display: block;
    -webkit-animation: elx-blackmin-menu-fadein 0.3s;
    animation: elx-blackmin-menu-fadein 0.3s;
}
div.elx-blackmin-exportmenu>div>ul
{
	list-style: outside none none;
	padding-left: 0;
	margin: 0;
}
div.elx-blackmin-exportmenu>div>ul>li:hover
{
	background: #f4fa58;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-control-row div.elx-blackmin-table-navigation,
form.elx-blackmin-form-table>table>tfoot>tr>td>div.elx-blackmin-table-control-row div.elx-blackmin-table-navigation
{
    float: right;
    border-left: 1px solid #aaa;
}
form.elx-blackmin-form-table>table>thead>tr>td>div#elx-blackmin-table-filter-row
{
    position: relative;
    padding: 10px;
    background: #dddddd;
    color: #444444;

    display: none;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-filterctl-row
{
    background-color: #FFFFFF;
    min-height: 28px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: relative;
    float: none;
    color: #444444;
}
form.elx-blackmin-form-table>table>thead>tr>td>div.elx-blackmin-table-filterctl-row>div
{
    background-color: #E7D8E3;
    margin-left: 3px;
    margin-right: 1px;
    margin-top: 3px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #aaa;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    height: 17px;
    position: relative;
    display: inline-block;
}
form.elx-blackmin-form-table>table>tbody>tr:hover
{
	background: #e0e0e0;
}
form.elx-blackmin-form-table>table>tbody>tr>td
{
/*
	border-bottom: 1px #eeeeee solid;
    padding: 4px;
*/
    text-indent: 5px;
    border-bottom: 1px #b6b6b6 solid;
    padding: 6px 6px 6px 6px;
}
form.elx-blackmin-form-table>table>tbody>tr>td.table_data_last_row
{
    border-bottom: 1px #aaaaaa solid;
    padding: 4px;
}

form.elx-blackmin-form-table>table>tfoot
{
/*
    background: #000000;
    color: #ffffff;
*/
    background: #555555;
    color: #eeeeee;
}
.tabForm
{
/*	background: #fafafa;*/
	color: #aaaaaa;
/*
	border: 1px solid #999;
	padding-left:5px;
	background-image: url(../../images/bggrisForm.gif);
    background-repeat: repeat-x;
    background-position: top;
*/
}
.tabForm td
{
	padding: 4px;
	color: #333333;
}
.required {
    color: #ff0000;
}
table.table_navigation_text td
{
    padding: 4px;
}

/* Compatibilidad con funcionalidades requeridas */
TD.menudescription {
    color: #ffffff;
    background: #000000;
    font-weight: bold;
    vertical-align: middle;
}
#boxRPM .b {
  background:url(../../images/b.png);
}

#boxRPM .tl {
  background:url(../../images/tl.png);
}

#boxRPM .tr {
  background:url(../../images/tr.png);
}

#boxRPM .bl {
  background:url(../../images/bl.png);
}

#boxRPM .br {
  background:url(../../images/br.png);
}

#boxRPM {
  position: absolute;

  left: 50%;
  top: 32%;
  width: 40%;
  height: 30%;
  margin-top: -15%;
  margin-left: -19%;
  /*cursor: move;*/
/*  top: 0;
  left: 0;*/
  z-index: 10002;
  text-align: left;
}

#boxRPM .popup {
  position: relative;
}

#boxRPM table {
  border-collapse: collapse;
}

#boxRPM td {
  border-bottom: 0;
  padding: 0;
}

#boxRPM .body {
  /*padding: 10px;*/
  padding: 2%;
  background: #fff;
  /*width: 370px;*/
  width: 470px;
}

#boxRPM .loading {
  text-align: center;
}

#boxRPM .image {
  text-align: center;
}

#boxRPM img {
  border: 0;
  margin: 0;
}

#boxRPM .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#boxRPM .tl, #boxRPM .tr, #boxRPM .bl, #boxRPM .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#box_overlayRPM {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.close_image_box{
    cursor: pointer;
}
/*
#viewDetailsRPMs{
    cursor: pointer;
    text-decoration: underline;
    color: #0000FF;
    font-weight: normal;
}
*/
.tdRPMDetail{
    background-color: #E8E8E8;
}

.tdRPMNamesCol{
    background-color: #B5B5B5;
}

.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.4;
    opacity:.40;
    filter: alpha(opacity=40);
}
/*#changeMode{
    font-size: 10px;
    cursor: pointer;
}*/

.loadingRPMimg{
    padding: 10px;
}

td a.link_summary_off{
  text-decoration: none;
  color:#000000;
}

td a.link_summary_on{
  text-decoration: none;
  color:#0000FF;
  font-weight:bold;
}

.table-header-row-filter-first {
    position:relative;
    display:inline-block;
    height:33px;
    float:left;
    padding:8px 10px 0px 10px;
    border: 1px solid #aaa;
    cursor: pointer;
}
.table-header-row-filter {
    position:relative;
    display:inline-block;
    height:33px;
    float:left;
    padding:8px 10px 0px 10px;
    border: 1px solid #aaa;
    border-left:0px;
    cursor: pointer;
}
.table-action{
    border:0px;
    background-color:transparent;
    cursor:pointer;
    padding:0px;
    font: 13px Verdana, Arial,Helvetica,sans-serif;
    color:#444;
    text-decoration:none;
}
/* Nuevo estilo */

.neo-modal-elastix-popup-blockmask {
    position:absolute;
    z-index:10100;
    background-color:#000;
    top:0px;
    left:0px;
    display:none;
}
.neo-modal-elastix-popup-box {
    position:fixed;
    width:440px;
    height:150px;
    z-index:10200;
    padding:20px 25px 20px 25px;
    display:none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background:url(/images/modalbox_bg.png) top left repeat-x #fff;
    top: 50%;
    left: 45%;
   scrollbar-face-color: #6685CA;
	scrollbar-highlight-color: #6685CA;
	scrollbar-shadow-color: #6685CA;
	scrollbar-3dlight-color:red;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#E5E5E5;
	scrollbar-drakshadow-color:#000000;
}
.neo-modal-elastix-popup-title {
    position: absolute;
    top:0px;
    left:0px;
    padding:10px 0px 0px 0px;
    width:100%;
    text-align:center;
    text-shadow: rgba(255,255,255, 0.3) 0 1px 0px;
    font: 13px Verdana, Arial,Helvetica,sans-serif;
    color: #333;
}
.neo-modal-elastix-popup-close {
    position: absolute;
    top:12px;
    right:10px;
    width:18px;
    height:15px;
    background:url(/images/bookmarks_equis.png) no-repeat;
    cursor: pointer;
}
.neo-modal-elastix-popup-content {
    position: relative;
    top: 20px;
}
/*Version*/
#tableRMP{
    border:0px solid;
    display: block;
    position:relative;
    top:10px;

}
#txtMode{
    width: 95%;
    position:relative;
    top:10px;
    height:750px;
}
#tdTa{
    display: none;
}
#changeMode{
    font-size: 10px;
    cursor: pointer;
    position: relative;
    display: none;
    left:80%;
    width:20%;
    color:blue;
    top:5px;

}

.loadingRPMimg{
    padding: 10px;
}

#loadingRPM{
    display: block;
    text-align:center;
    position: absolute;
    top:45%;
    left:45%;

}

