<?xml version="1.0" encoding="UTF-8"?>
<module>
  <menulist>
    <menuitem menuid="my_extension"    desc="My Extension"    parent=""             module="no"  link="" order="11"></menuitem>
    <menuitem menuid="myex_config"     desc="Settings"        parent="my_extension" module="yes" link="" order="1">
        <permissions>
            <group id="1" name="administrator" desc="total access"></group>
            <group id="2" name="Operator" desc="Operator"></group>
            <group id="3" name="extension" desc="extension user"></group>
        </permissions>
    </menuitem>
  </menulist>
</module>
