<?xml version="1.0" encoding="UTF-8"?>
<module>
  <menulist>
    <menuitem menuid="endpointconfig2"  desc="New Endpoint Configurator"   parent="endpoints" module="yes" link=""      order="54">
        <permissions>
            <group id="1" name="administrator" desc="total access"></group>
        </permissions>
    </menuitem>
  </menulist>
</module>
  